#root {
  color: red;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.card {
  color: black;
  width: 80%;
  background-color: white;
  text-align: center;
  margin: 25px;
  height: 600px;
  justify-self: center;
}

.card h2 {
  width: calc(100% - 4px);
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
  padding: 25px 0;
  margin: 0;
}

.card img {
  margin: 10px auto;
}

.card p {
  max-width: 80%;
  text-align: justify;
  margin: 10px auto;
}

.select {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

#select_show,
#select_episode,
#input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgb(225, 224, 224);
  height: 34px;
  padding: 8px 12px;
  font-size: 12px;
  border: 2px solid rgb(31, 30, 30);
  border-radius: 5px;
}

#count-area {
  color: rgb(83, 82, 82);
  font-size: 13px;
  margin-bottom: 20px;
}

footer {
  height: 34px;
}

footer a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: blue;
}
